<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mycoffee.mapper.OrderMapper">
	<insert id="insertOrder">
		insert into
				tbl_order (oid,userid,totalprice,status,registdate,updatedate)
			values
				(#{oid}, #{userid}, #{totalprice},#{stauts},sysdate,sysdate)
	</insert>
	<update id="updateorder">
		
	</update>
	<delete id="deleteorder">
	
	</delete>
	<select id="getlist" resultType="com.mycoffee.domain.OrderVO">
		<![CDATA[select * from tbl_order
		]]>
	</select>
	<select id="get" resultType="com.mycoffee.domain.OrderVO">
		select * from tbl_order
			where pcategory=#{category}
	</select>
</mapper>